.row-top {
    margin-top: 5% !important;
    height: 250px;
    background-color: #F7FCFE;
}

.row-top p {
    margin-left: 20%;
}

.row-top h1 p {
    padding-top: 50px;
    font-family: Inter;
    font-size: 50px;
    font-weight: bold;
}

.code-left,
.code-rigth {
    color: #0C729E;
}

.text-home-head {
    margin-bottom: 6em;
}

.row-dev {
    margin-top: 5%;
}

.content {
    margin-top: 5em;
}

.content a {
    color: #0C729E;
    text-decoration: none;
}

.img-rent-app {}

.dev-title {
    font-family: Farro;
    font-weight: bold;
    font-size: 35px;
}

.btn-explore-more {
    background-color: #0C729E !important;
    width: 220px;
    height: 50px;
    margin-bottom: 5em;
    margin-top: 5em;
}

.navbar-collapse {
    margin-left: 30%;
    text-align: center;
}

.img-background {
    position: absolute;
    z-index: -1;
    top: 45em;
}

.cloud-part {
    color: #0C729E;
}


/* Small devices (200px - 350px) */

@media screen and (min-width: 200px) and (max-width: 350px) {
    .text-home-head {
        font-size: 18px !important;
    }
    .row-top p {
        margin-left: 10%;
    }
    .header-title {
        font-size: 30px !important;
    }
    .img-rent-app {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .img-background {
        left: 0em;
    }
}


/* Small devices (350px - 500px) */

@media screen and (min-width: 350px) and (max-width: 500px) {
    .text-home-head {
        font-size: 18px !important;
    }
    .row-top p {
        margin-left: 10%;
    }
    .header-title {
        font-size: 30px !important;
    }
    .img-rent-app {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .img-background {
        left: 3em;
    }
}


/* Small devices (500px - 600px) */

@media screen and (min-width: 500px) and (max-width: 600px) {
    .text-home-head {
        font-size: 18px !important;
    }
    .row-top p {
        margin-left: 10%;
    }
    .header-title {
        font-size: 30px !important;
    }
    .img-background {
        margin-left: -5em;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) and (max-width: 700px) {
    .text-home-head {
        left: 2em;
        top: -4.5em;
    }
}


/* Medium devices (landscape tablets, 700px - 800px) */

@media screen and (min-width: 700px) and (max-width: 800px) {
    .text-home-head {
        left: 3em;
        top: -4.5em;
    }
}


/* Medium devices (landscape tablets, 800px and 1000px) */

@media screen and (min-width: 800px) and (max-width: 992px) {
    .text-home-head {
        left: 5em;
        top: -4.5em;
    }
    .img-rent-app {
        margin-top: 100px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .text-home-head {
        left: 8em;
    }
    .img-rent-app {
        margin-top: 80px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .text-home-head {
        left: 10em;
    }
    .img-rent-app {
        margin-top: 30px;
    }
    .row-top {
        padding-left: 3% !important;
    }
}