body {}

.row-top {
    margin-top: 5% !important;
    height: 250px;
    background-color: #f7fcfe;
}

.row-top p {}

.row-top h1 p {
    padding-top: 50px;
    font-family: Inter;
    font-size: 50px;
    font-weight: bold;
}

.code-left,
.code-rigth {
    color: #0c729e;
}

.text-home-head {
    margin-bottom: 6em;
}

.row-dev {
    margin-top: 5%;
}

.content {
    margin-top: 2em;
}

.content a {
    text-decoration: none;
}

.img-travel {
    height: 17em;
    width: 17em;
}

.img-rent-app {
    height: 20em;
    width: 30em;
}

.dev-title {
    font-family: Farro;
    font-weight: bold;
    font-size: 35px;
}

.btn-explore-more {
    background-color: white!important;
    color: #0c729e !important;
    width: 220px;
    height: 50px;
    margin-bottom: 15em;
    margin-top: 15em;
}

.navbar-collapse {
    margin-left: 30%;
    text-align: center;
}

.img-background {
    position: absolute;
    z-index: -1;
    top: 25em;
    right: 0em;
}

.row-dev {
    margin-top: 15%;
}

.row-dev .second-col a{
    color: white;
    text-decoration: none;
}

.row-dev .second-col {
    margin-top: 5em;
    color: white;
    font-size: 20px;
}

.second-col-ci {
    color: white;
    font-size: 20px;
}

.second-col-ci a {
    text-decoration: none;
    color: white;
}

.row-top p {
    margin-left: 20%;
}

/* Small devices (200px - 350px) */
@media screen and (min-width: 200px) and (max-width: 700px) {
    .row-dev .second-col{
        color: black !important;
    }
    
    .row-dev .second-col a{
        color: black !important;
        text-decoration: none;
    }

    .second-col-ci{
        color: black !important;
    }
    
    .second-col-ci a{
        color: black !important;
        text-decoration: none;
    }
}
/* Small devices (350px - 500px) */
@media screen and (min-width: 394px) and (max-width: 429px) {

    .text-home-head {
        font-size: 18px !important;
    }

    .row-top p {
        margin-left: 10%;
    }

    .header-title {
        font-size: 40px !important;
    }

    .img-rent-app {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .second-col-ci {
        margin-left: 0em;
    }

    .row-dev .second-col{
        color: black !important;
    }
}

/* Small devices (350px - 500px) */
@media screen and (min-width: 430px) and (max-width: 499px) {

    .text-home-head {
        font-size: 18px !important;
    }

    .row-top p {
        margin-left: 10%;
    }

    .header-title {
        font-size: 30px !important;
    }

    .img-rent-app {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .second-col-ci {
        margin-left: 0em;
    }
}

/* Small devices (500px - 600px) */
@media screen and (min-width: 500px) and (max-width: 600px) {

    .text-home-head {
        font-size: 18px !important;
    }

    .row-top p {
        margin-left: 10%;
    }

    .header-title {
        font-size: 30px !important;
    }

    .second-col-ci {
        margin-left: 0em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 700px) {

    .text-home-head {
        left: 2em;
        top: -4.5em;
    }
}

/* Medium devices (landscape tablets, 700px - 800px) */
@media screen and (min-width: 700px) and (max-width: 800px) {
    .text-home-head {
        left: 3em;
        top: -4.5em;
    }
}

/* Medium devices (landscape tablets, 800px and 1000px) */
@media screen and (min-width: 800px) and (max-width: 992px) {
    .text-home-head {
        left: 5em;
        top: -4.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1000px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 1000px) and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 1200px) and (max-width: 1400px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    .img-rent-app {
        margin-top: 30px;
    }
}